table {
    width: 600px;
}
p, .f-line {
    font-weight: bolder;
}
table, tr, td {
    border: #000000 solid 1px;
    text-align: center;
}
.table1 td {
    width: 200px;
}
.f-line, .table2 tr:nth-child(even) {
    background-color: lightgray;
}
.table2 td{
    width: 120px;
}
